CompileFlags:
  Add: [--no-cuda-version-check]
  Remove: [
    -Xcompiler=-fPIC,
    -forward-unknown-to-host-compiler,
    --generate-code=arch=*
  ]
Diagnostics:
  ClangTidy:
    Add: 
      - misc-include-cleaner
